html {
  font-size: 62.5%;
}

body {
  min-height: 100vh;
  display: grid;
  place-items: center;  
}

.go-back {
  font-size: 2.4rem;
  color: black;
}

.wrapper {
    width: 1120px;
    height: 818px;
}


.booking-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.booking-container h1 {
  font-size: 2.4rem;
  margin-bottom: 2rem;
}

.booking-form {
  margin-bottom: 1.5rem;
  margin-top: 2.2rem;
}

.booking-form label {
  font-size: 1.8rem;
}

.booking-form input {
  margin-inline: 0.5rem;
}

.booking-form button {
  font-size: 1.4rem;
  padding-inline: 0.8rem;
}

.booking-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  width: 145px;
  row-gap: 6px;
}

.booking-grid li {
  width: 3.8rem;
  height:3.8rem;
  background-color: #d3d3d3;
  border: 1px solid black;
  cursor: pointer;
  border-radius: 0.2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.6rem;
}

.booking-grid li.booked {
  background-color: #ff69b4;
}